<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My App</ion-title>
    <ion-buttons slot="end">
      <a href="auth">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
      </a>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="book-outline"></ion-icon>
      </ion-button>
      <ion-router-link routerLink="/home">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="home-outline"></ion-icon>
        </ion-button>
      </ion-router-link>
    </ion-buttons>
  </ion-toolbar>
</ion-header>