<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()" color="medium">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            type="submit"
            [disabled]="this.postForm.invalid"
            [strong]="true"
            >Confirm</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding content" [fullscreen]="true">
      <ion-input
        formControlName="name"
        fill="solid"
        label="Enter post name"
        labelPlacement="floating"
        placeholder="Post name"
        [helperText]="
          'Enter a name with at least ' + NAME_MIN_LENGTH + ' characters.'
        "
        [errorText]="nameErrorText()"
      ></ion-input>
      <ion-input
        formControlName="description"
        fill="solid"
        label="Enter post description"
        labelPlacement="floating"
        placeholder="Post description"
        [helperText]="
          'Enter a description with a maximum of ' +
          DESCRIPTION_MAX_LENGTH +
          ' characters.'
        "
        [errorText]="descriptionErrorText"
      ></ion-input>
    </ion-content>
  </form>