ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  h2 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 24px;
  }
  
  .shared-users {
    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }

  .delete-btn {
    border: 1px solid red; /* Temporary to see button boundaries */
    padding: 8px;
    margin-right: 5px;
  }