<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/topics"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ topic()?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Keep the condensed header for iOS aesthetics -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ topic()?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for(post of posts(); track post.id) {
    <ion-item>
      <!-- Afficher les options d'édition uniquement pour propriétaires et éditeurs -->
      @if(canEdit()) {
      <ion-button
        slot="start"
        fill="clear"
        id="click-trigger"
        (click)="presentPostManagementPopover($event, post)"
        aria-label="open post management popover"
        data-cy="open-post-management-popover"
      >
        <ion-icon slot="icon-only" color="medium" name="ellipsis-vertical"></ion-icon>
      </ion-button>
      }
      <ion-label>{{ post.name }}</ion-label>
    </ion-item>
    } @empty {
    <ion-img class="image" src="assets/img/no_data.svg" alt="No data"></ion-img>
    }
  </ion-list>
  
  <!-- Montrer le bouton de partage uniquement pour les propriétaires -->
  @if(isOwner()) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="openShareModal()">
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
  
  @if(canEdit()) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button
      data-cy="open-create-post-modal-button"
      aria-label="open add post modal"
      (click)="openModal()"
    >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>